body {
  background-color: aliceblue;
  font-family: 'Poppins', sans-serif;
  background-image: linear-gradient(to right, rgb(23, 112, 149), rgb(28, 143, 186), rgb(31, 165, 214), rgb(28, 143, 186), rgb(23, 112, 149));
}

.header {
  padding: 25px;
}

.row {
  margin: 0;
  padding: 10px;
}

.nav li {
  list-style: none;
  text-align: center;
}

.category {
  padding: 15px 25px;
  background-color: #C9DEE4;
  border-radius: 15px;
  color: #177095;
  font-weight: 300;
}

.category-selected {
  padding: 15px 25px;
  border-radius: 15px;
  background-color: white;
  color: #177095;
  font-weight: 600;
  border: 3px solid #177095;

}

.title {
  text-align: center;
}

.title h1 {
  font-size: 25px;
  background-color: #C9DEE4;
  width: 50%;
  margin: auto;
  border-radius: 15px;
  box-shadow: 10px 10px 2px #A9C5E0;
  color: #177095;
  padding: 10px;
  font-weight: bold;
}

.hero {
  background-image: url('./assets/images/hero.jpg');
  background-size: cover;
  min-height: 300px;
  opacity: 0.9;
}

.about,
.contact-section,
.projects {
  background-color: #C9DEE4;
  border-radius: 10px;
  color: #177095;
}

.about-me,
.contact-form-div {
  padding: 20px;
  margin: 15px 10px;
  text-align: center;
}

.about-me h2 {
  text-decoration: underline;
  font-weight: 400;
}

.info {
  margin: 10px 0;
  padding: 18px 0px;
}

.info p {
  margin: 10px 0;
}

.avatar {
  width: 130px;
  height: 130px;
  margin: 20px 0px;
  border-radius: 5px;
}

.footer {
  padding: 20px;
  text-align: center;
}

.footer a {
  padding: 10px;
  font-size: 40px;
  color: white;
  margin: 10px 20px;
}

.contact-form-div h2 {
  text-decoration: underline;
  margin-bottom: 10px;
}

.contact-form {
  justify-content: center;

}

.contact-form div {
  margin: 18px 0;
}

.contact-form label {
  margin: 8px;
  text-align: center;
  font-weight: 600;
}

.contact-form textarea {
  min-height: 100px;
  min-width: 100%;
  padding: 15px;
  border-radius: 5px;
  border: none;

}

.contact-form input {
  border-radius: 5px;
  border: none;
  padding: 10px;
}

.contact-btn {
  border-radius: 5px;
  background-color: #177095;
  color: #C9DEE4;
  padding: 10px;
  width: 35%;
  border: none;
  margin-bottom: 20px;
}

.personal-info {
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px solid #177095;
  border-radius: 5px;
}

.personal-info h4 {
  margin: 20px 0;
  text-decoration: underline;
}

/* Projects Styling */

.projects {
  margin-top: 15px;
}

.project {
  margin: 25px 0;
}

.project-name {
  margin-bottom: 20px;
  text-decoration: underline;
}

.project-name a {
  padding: 15px;
}

.project-info {
  text-align: center;
  padding: 20px;
}

.project-img {
  border-radius: 5px;
  max-width: 100%;
  max-height: 300px;
}

.project-img:hover {
  transform: scale(1.05);
}